.card {
  text-align: center;
  vertical-align: center;
  line-height: 40px;
  font-size: 22px;
  margin: 3px auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
    
  border-radius: 5px;
  border: black solid 1px;
  background-color: #fff;
  filter: opacity(0.7);
}

.passive {
  filter: opacity(0.1);
}
  
.red {
  color: red;
}