.App {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls-state-app {
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.controls-state-app button {
  font-family: monospace;
  background: inherit;
  line-height: 30px;
  width: 50%;
  text-align: center;
  border: solid 1px white;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}